@use '../base/variables' as *;
@use '../base/scss-color-curve' as *;
@use '../base/mixins' as *;

header {
  backdrop-filter: blur(10px);
  display: grid;
  grid-template: 1fr / 1fr;
  justify-content: start;
  // overflow: clip;
  position: sticky;
  top: 0;
  z-index: 10;

  img {
    grid-row: 1;
    margin: 1em 0 3em 1em;
    place-self: start;
    width: clamp(9em, 14dvw, 13em);

    @include query($md) {
      place-self: center;
      margin: 1em 0 3em 0;
    }
  }
}