@use 'variables' as *;
@use 'mixins' as *;
@use 'scss-color-curve' as *;
@import url("https://use.typekit.net/qfy2sas.css");

body {
  background: 
    radial-gradient(
      farthest-side at -10% -10%,
      color(d, -4) 10%,
      transparent 80%
    ),
    radial-gradient(
      farthest-side at 20% 10%,
      color(d) 10%,
      transparent 100%
    ),
    radial-gradient(
      farthest-side at -50% 95%,
      color(a),
      transparent 40%
    ),
    radial-gradient(
      farthest-side at 0% 150%,
      color(a),
      transparent 50%
    ),
    radial-gradient(
      farthest-side at 10% 75%,
      color(d),
      transparent 70%
    ),
    radial-gradient(
      farthest-side at 70% 20%,
      color(d, -3) 70%,
      transparent 100%
    ),
    radial-gradient(
      farthest-side at 80% 60%,
      color(d, 2) 20%,
      color(a)
    );
  background: linear-gradient(to top left, color(d, -4), color(d, -6));
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: $white;
  max-height: 100vh;
  overflow-x: clip; 
  width: 100dvw;
  @include font($fs-base);

  // &::before {
  //   background: linear-gradient(
  //     to bottom right,
  //     color(e),
  //     rgba(0, 0, 0, 0) 90%),
  //     url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 90 90' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='10500' numOctaves='10' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%' height='100%' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  //   background-blend-mode: hard-light;
  //   background-size: cover;
  //   opacity: .5;
  //   content: '';
  //   inset: 0 0 0 0;
  //   position: fixed;
  //   z-index: -1;
  // }

  .hide {
    display: none;
  }

  h1 {
    @include font($fs-h1, $fw-bolder);
    text-transform: uppercase;
  }
  
  h2 {
    @include font($fs-h2, $fw-bolder);
    text-transform: uppercase;
  }

  h3 {
    @include font(8vw, $fw-bolder);
    text-transform: uppercase;

    @include query($md) {
      @include font($fs-h3, $fw-bolder);
    }
  }

  h4 {
    @include font($fs-h4, $fw-bolder);
    text-transform: uppercase;
  }

  h5 {
    @include font($fs-h5, $fw-bolder);
    text-transform: uppercase;

    @include query($md) {
      @include font(3.5vw, $fw-bolder, 1, 50);
    }

    @include query($lg) {
      @include font(clamp(2em, 3vw, 2.75em), $fw-bolder, 1, 50);
    }
  }

  h6 {
    @include font(3.5vw, $fw-bolder, 1, 50);
    text-transform: uppercase;

    @include query($md) {
      @include font($fs-h6, $fw-bolder, 1, 50);
    }
  }

  b {
    @include font(1.1em, $fw-bolder, 1, 50);
  }
  

  section {
    padding: 0 4dvw;

    @include query($lg) {
      padding: 0 5dvw;
    }

    @include query($xl) {
      padding: 0 10dvw;
    }
  }

  .match {
    color: color(b);
  }

  .close {
    color: color(c, -4);
  }
}

.fixed {
  overflow-y: clip;
}