@use 'variables' as *;
@use 'mixins' as *;
@use 'scss-color-curve' as *;
@import url("https://use.typekit.net/qfy2sas.css");

body {
  background: 
    radial-gradient(
      farthest-side at -10% -10%,
      color(d, -4) 10%,
      transparent 80%
    ),
    radial-gradient(
      farthest-side at 20% 10%,
      color(d) 10%,
      transparent 100%
    ),
    radial-gradient(
      farthest-side at -50% 95%,
      color(a),
      transparent 40%
    ),
    radial-gradient(
      farthest-side at 0% 150%,
      color(a),
      transparent 50%
    ),
    radial-gradient(
      farthest-side at 10% 75%,
      color(d),
      transparent 70%
    ),
    radial-gradient(
      farthest-side at 70% 20%,
      color(d, -3) 70%,
      transparent 100%
    ),
    radial-gradient(
      farthest-side at 80% 60%,
      color(d, 2) 20%,
      color(a)
    );
  background: linear-gradient(to top left, color(d, -4), color(d, -6));
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: $white;
  max-height: 100vh;
  overflow-x: clip; 
  width: 100dvw;
  @include font($fs-base);

  .hide {
    display: none;
  }

  h1 {
    @include font($fs-h1, $fw-bolder);
    text-transform: uppercase;
  }
  
  h2 {
    @include font($fs-h2, $fw-bolder);
    text-transform: uppercase;
  }

  h3 {
    @include font(8vw, $fw-bolder);
    text-transform: uppercase;

    @include query($md) {
      @include font($fs-h3, $fw-bolder);
    }
    
    @include query($lg) {
      @include font(3vw, $fw-bolder);
    }
  }

  h4 {
    @include font($fs-h4, $fw-bolder);
    text-transform: uppercase;
  }

  h5 {
    @include font($fs-h5, $fw-bolder);
    text-transform: uppercase;

    @include query($md) {
      @include font(3.5vw, $fw-bolder, 1, 50);
    }

    @include query($lg) {
      @include font(clamp(1.5em, 2vw, 3em), $fw-bolder, 1, 50);
    }
  }

  h6 {
    @include font(3.5vw, $fw-bolder, 1, 50);
    text-transform: uppercase;

    @include query($md) {
      @include font($fs-h6, $fw-bolder, 1, 50);
    }
  }

  b {
    @include font(1.1em, $fw-bolder, 1, 50);
  }

  .t-secondary {
    @include font(.5em, $fw-bolder);
  }
  

  section {
    padding: 0 4dvw;

    @include query($lg) {
      padding: 0 5dvw;
    }

    @include query($xl) {
      padding: 0 10dvw;
    }
  }

  .match {
    color: color(b);
  }

  .close {
    color: color(f);
  }
}

.fixed {
  overflow-y: clip;
}