@use 'sass:map';
// @use 'scss-color-curve' as *;
// colors
$white: #ffffff;
$black: #000000;

$color-settings: (
  'colors': (
    'a': (
      0: #DADEDF,
      name: 'light',
      gradientScale: 3
    ),
    'b': (
      0: #58F204,
      name: 'success',
      gradientScale: 3
    ),
    'c': (
      0: #9ED6FF,
      name: 'close',
      gradientScale: 3
    ),
    'd': (
      0: #233993,
      name: 'blue',
      gradientScale: 3
    ),
    'e': (
      0: #1F305B,
      name: 'dark blue',
      gradientScale: 3
    ),
    'f': (
      0: #282828,
      name: 'dark',
      gradientScale: 3
    )
  )
);

// fonts
$fs-base: 16px;
$fs-h1: 6em;
$fs-h2: 5em;
$fs-h3: 4em;
$fs-h4: 3em;
$fs-h5: 2em;
$fs-h6: 1em;
$fs-body: 1em;

$fw-thin: 100;
$fw-light: 300;
$fw-normal: 500;
$fw-bold: 800;
$fw-bolder: 950;

// breakpoint sizes
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// hamburger sizes
$hamburger: 2em;
$hamburger-lines: 3px; // calc($hamburger / 9)
