// colors
$color-white: #F0F0F0;
$color-success: #F4C20E;
$color-close: #1561E8;
$color-black: #000000;
$color-dark: #282828;
$color-input: #ffffff;

// borders
$border-standard: 1px solid $color-black;

// fonts
$fs-base: 16px;
$fs-h1: 6em;
$fs-h2: 5em;
$fs-h3: 4em;
$fs-h4: 3em;
$fs-h5: 2em;
$fs-h6: 1em;
$fs-body: 1em;

$fw-thin: 100;
$fw-light: 300;
$fw-normal: 500;
$fw-bold: 800;
$fw-bolder: 950;

// breakpoint sizes
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// hamburger sizes
$hamburger: 2em;
$hamburger-lines: 3px; // calc($hamburger / 9)
