@use '../base/variables' as *;
@use '../base/mixins' as *;
@use '../base/scss-color-curve' as *;

.o-ui {
  &__container {
    border-bottom: 1px solid color(a);
    display: grid;
    gap: 1em;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;

    @include query($md) {
      grid-template: 1fr 1fr / 1fr 3fr 1fr;
    }

    input {
      border: none;
      height: $input-size;
      padding-left: .5em;
      width: 100%;
    }

    h5 {
      line-height: .75;
    }

    .o-timer, .o-field {
      grid-row: 1;

      @include query($md) {
        grid-column: 2;
        grid-row: 1;
      }
    }

    .o-downs, .o-yards {
      grid-row: 3;

      @include query($md) {
        grid-row: 2;
      }
    }

    .o-timer {
      place-self: end start;
    }

    .o-field {
      place-self: end;
    }

    .o-downs {
      @include query($md) {
        grid-column: 1;
      }
    }
    
    .o-downs{
      place-self: start start;

      @include query($md) {
        place-self: center end;
      }
    }

    .o-yards {
      place-self: start end;

      @include query($md) {
        grid-column: 3;
        place-self: center start;
      }
    }

    .o-search {
      grid-column: 1 / span 2;
      grid-row: 2;
      isolation: isolate;
      position: relative;

      @include query($md) {
        grid-column: 2;
        grid-row: 2;
      }

      &__input {
        display: flex;
        flex-direction: row;
        position: relative;
        z-index: 1;
      }

      &__results {
        background: rgba($color: color(d, -3), $alpha: .65);
        backdrop-filter: blur(10px);
        position: absolute;
        transition: all .25s ease;
        translate: 0 calc($input-size * -1);
        width: 100%;

        @include query($md) {
          translate: 0 calc($input-size * -1);
        }

        &--key {
          padding: calc($input-size / 3.5) 0;
          position: relative;
          z-index: -1;
          @include font(14px, 300);

          @include query($md){
            padding: calc($input-size / 4.5) 0;
          }

          @include query($lg){
            @include font($fs-body, 300);
          }
        }
        
        &--options {
          background: linear-gradient(rgba($color: color(d, -2), $alpha: 1.0), rgba($color: color(d, -2), $alpha: .5));
          max-height: 50dvh;
          overflow-y: scroll;

          li {
            @include font(14px, 950);

            @include query($lg){
              @include font($fs-body, 950);
            }
          }
        }

        ul {
          align-items: center;
          display: flex;
          justify-content: space-around;
          margin: .5em .5em 0 .5em;
          padding: 0 .5em;

          li {
            flex: 0 1 auto;
            text-align: center;
            text-transform: uppercase;

            @include query($md) {
              flex: 0 1 100%;
            }
          }

          .o-player--weight {
            text-transform: none;
          }
        }
        
        .o-player {
          padding: 1em 0;

          &:hover, &:focus {
            background: color(d);
          }

          h4 {
            padding: 0 .5em;
          }
        }
      }

      .a-search-key--slide {
        transition: all .25s ease;
        translate: 0;
      }
    }
  }
}