button.o-hamburger.js-hamburger
  span.o-hamburger--line
  span.o-hamburger--line
  span.o-hamburger--line
nav
  menu.c-menu.js-menu
    .c-menu__content
      ol 
        li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        li Etiam suscipit leo id eros pharetra, ac ultricies diam tristique.
        li Nunc sed neque efficitur, tempor sem a, accumsan magna.
        li Quisque nec nunc sollicitudin, finibus ex vitae, commodo nisl.
        li Nunc tristique lectus ut dolor porta porta.
      a.contact(href="#") Contact