section.c-players
  .c-player 
    .c-player__general
      .c-player__name 
        //- h2 Kelvin Beachum
        h3
          span.js-first-name Michael
          span.js-last-name Hoomanawanui
      .c-player--number
        span 87 
    .c-player__details
      .c-player--logo 
        img(src="./public/images/logos/az.png", alt="")
      .c-player__con.c-player__detail.c-player__detail--border-upper 
        p.c-player__detail--title Con/Div
        h6.c-player__con--detail.close NFC North
      .c-player__pos.c-player__detail.c-player__detail--border-upper 
        p.c-player__detail--title Position
        h6.c-player__pos--detail LB
      .c-player__age.c-player__detail.c-player__detail--border-upper 
        p.c-player__detail--title Age
        h6.c-player__age--detail 28
      .c-player__height.c-player__detail.c-player__detail--border-upper
        p.c-player__detail--title Height
        h6.c-player__height--detail 6'4"
      .c-player__team.c-player__detail.c-player__detail--border-lower 
        p.c-player__detail--title Team
        h6.c-player__team--detail.match Commanders
      .c-player__num.c-player__detail.c-player__detail--border-lower 
        p.c-player__detail--title Jersey
        h6.c-player__num--detail 87
      .c-player__exp.c-player__detail.c-player__detail--border-lower
        p.c-player__detail--title Experience
        h6.c-player__exp--detail 3
      .c-player__weight.c-player__detail.c-player__detail--border-lower
        p.c-player__detail--title Weight
        h6.c-player__weight--detail 230 lbs
  .c-player 
    .c-player__general
      .c-player__name 
        h3 
          span.js-first-name Kelvin
          span.js-last-name Beachum
      .c-player--number
        span 87 
    .c-player__details
      .c-player--logo 
        img(src="./public/images/logos/az.png", alt="")
      .c-player__con.c-player__detail.c-player__detail--border-upper 
        p.c-player__detail--title Con/Div
        h6.c-player__con--detail NFC North
      .c-player__pos.c-player__detail.c-player__detail--border-upper 
        p.c-player__detail--title Position
        h6.c-player__pos--detail LB
      .c-player__age.c-player__detail.c-player__detail--border-upper 
        p.c-player__detail--title Age
        h6.c-player__age--detail 28
      .c-player__height.c-player__detail.c-player__detail--border-upper
        p.c-player__detail--title Height
        h6.c-player__height--detail 6'4"
      .c-player__team.c-player__detail.c-player__detail--border-lower 
        p.c-player__detail--title Team
        h6.c-player__team--detail Commanders
      .c-player__num.c-player__detail.c-player__detail--border-lower 
        p.c-player__detail--title Jersey
        h6.c-player__num--detail 87
      .c-player__exp.c-player__detail.c-player__detail--border-lower
        p.c-player__detail--title Experience
        h6.c-player__exp--detail 3
      .c-player__weight.c-player__detail.c-player__detail--border-lower
        p.c-player__detail--title Weight
        h6.c-player__weight--detail 230 lbs