section.o-ui
  .c-penalties 
    h5 Penalties: 0
  .c-search
    .c-search__input
      input.input-search(type="text" placeholder="Player Name" autocomplete="off")
      button.btn-icon.btn-icon--search
    .c-search__results.js-search-results
      //- .c-search__results--key
      //-   ul
      //-     li Con/Div
      //-     li Team
      //-     li Pos.
      //-     li Num.
      //-     li Wt.
      //-     li Ht.
      //-     li Exp
      //-     li School
      .c-search__results--options.js-search-options
      //-   .o-player
      //-     h4 Kelvin Beachum
      //-     ul
      //-       li.success Con/Div
      //-       li.success Team
      //-       li.close Pos.
      //-       li Num.
      //-       li Wt.
      //-       li Ht.
      //-       li Exp
      //-       li School
      //-   .o-player
      //-     h4 Kelvin Beachum
      //-     ul
      //-       li Con/Div
      //-       li Team
      //-       li Pos.
      //-       li Num.
      //-       li Wt.
      //-       li Ht.
      //-       li Exp
      //-       li School
  .c-playclock
    h5 Play Clock :40