section.o-ui
  .o-ui__container
    .o-timer 
      h5 
        span Time 
        span.js-time :40
    .o-field 
      h5 
        span On 
        span.js-time 40
    .o-downs 
      h5 
        span.js-downs 3  
        span  Downs
    .o-yards
      h5 
        span.js-yards 10  
        span  To Go
    .o-search
      .o-search__input
        input#input-search.input-search(type="text" placeholder="Player Name" autocomplete="off")
      .o-search__results.js-search-results
        .o-search__results--key
          ul
            li Div
            li Team
            li Pos.
            li Num.
            li Age
            li Exp
            li Ht.
            li Wt.
        .o-search__results--options.js-search-options