section.o-ui
  .o-ui__container
    .c-timer 
      h5 
        span Time 
        span.js-time :40
    .c-field 
      h5 
        span On 
        span.js-time 40
    .c-downs 
      h5 
        span.js-downs 3  
        span  Downs
    .c-yards
      h5 
        span.js-yards 10  
        span  To Go
    .c-search
      .c-search__input
        input#input-search.input-search(type="text" placeholder="Player Name" autocomplete="off")
      .c-search__results.js-search-results
        .c-search__results--key
          ul
            li Div
            li Team
            li Pos.
            li Num.
            li Age
            li Exp
            li Ht.
            li Wt.
        .c-search__results--options.js-search-options